<!DOCTYPE html>
<html>

<head>
    <title>Cart</title>
</head>

<body>

<h1>Your Cart</h1>

{% for item in items %}

<p>

    {{ item[1] }}
    -
    Rs. {{ item[2] }}

</p>

<form action="/remove" method="POST">
    <input
            type="hidden"
            name="cart_id"
            value="{{ item[0] }}">

        <button type="submit">
            Remove item
        </button>
</form>
{% endfor %}
<hr>

<h2>Total Bill = Rs. {{ total }}</h2>

<a href="/">
    Back To Menu
</a>

<form action="/customer">
    <button type="submit">
        Checkout
    </button>
</form>
</body>
</html>