<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <form action="/place_order" method="post">
        <input
            type="text"
            name="customer_name"
            placeholder="Customer Name"
            required>
        
            <input 
                type = "text"
                name="phone_number"
                placeholder="Phone Number"
                required>
            <br>
            <button type = "submit">
                Place Order
                </button>
    </form>
</body>
</html>