<!DOCTYPE html>
<html>

<head>
    <title>Cafe Billing System</title>
</head>

<body>

<h1>Cafe Menu</h1>

{% for product in products %}

<div>

    <img
        src="{{ url_for('static',
        filename='images/' + product[3]) }}"
        width="200">

    <h2>{{ product[1] }}</h2>

    <p>Rs. {{ product[2] }}</p>

    <form action="/order" method="POST">

        <input
            type="hidden"
            name="product_id"
            value="{{ product[0] }}">

        <button type="submit">
            Add To Cart
        </button>

    </form>

</div>

<hr>

{% endfor %}

<a href="/cart">
    View Cart
</a>

</body>
</html>

</html>