<!DOCTYPE html>
<html>
<head>
    <title> Expense Tracker</title>

</head>
<body>
<h1>Daily Expense Tracker</h1>
<form action="/add" method="POST">
    <label> Amount spent</label>
    <input type="number" name="spendings" required>
    <br><br>
    <label> Spent On</label>
    <input type="text" name="spent_on" required>
    <button type ="submit"> Submit</button>
</form>

<form action="/login" method="POST">
    <input type="text" name="name" placeholder="Name">
    <br><br>
    <input type="email" name="email" placeholder="Email">
    <br><br>
    <input type="text" name="phone" placeholder="Phone">
    <br><br>
    <button type="submit"> Continue</button>
</form>

</body>
</html>
