body {
    text-align: center;
     font-family: Arial;
}
div {
    border: 1px;
    border-color:black;
    border-style:solid;
    border-radius: 2px;
    margin:auto;
    padding:15px;
    width:250px
}