body {
    text-align: center;
     font-family: Arial;
     background-color: beige;
}
div {
    border: 1px;
    border-color:black;
    border-style:solid;
    border-radius: 2px;
    margin:auto;
    padding:15px;
    width:250px
}
.btn {
    border-color:black;
    color:aqua;
    border-radius: 15px;
}